<<<<<<< HEAD
<h1>New Post</h1>

<%= render 'form' %>

<%= link_to 'Back', articles_path %>
=======
<div class="new">
  <%= render 'form' %>

  <%= link_to 'Back', articles_path %>
</div>
>>>>>>> 8e02132f68a9b3b50dd8e85a4c2f34d50c1fa11c
